.scroll-watcher{
    height: 10px;
    position: fixed;
    top:0;
    z-index: 100;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
@keyframes scroll-watcher{
    to{scale:1 1 ;}
}